<!--
    Guernsey - Library to simplify creating REST web services using Python and Twisted
    Copyright (C) 2016 Ingemar Nilsson

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<html>
  #set global $pageTitle = "User Profile (%s)" % $user.username
  #include $lookupTemplate("libhead.inc")
  <body>
    <script type="text/javascript" src="/libjs/ProfileResource.js"></script>
    <h1>$title</h1>
    <p><a href="..">Up</a></p>
    #if $user.found
    <table>
      <tr>
	<th>Username</th>
	<td id="username">$user.username</td>
      </tr>
      <tr>
	<th>Password</th>
	<td><input type="password" name="password" id="password"/></td>
      </tr>
      <tr>
	<th>Roles</th>
	<td>
	  #for $r in $user.roles
	  $r<br />
	  #end for
	</td>
      </tr>
      <tr>
	<th>Permissions</th>
	<td>
	  #for $p in $user.permissions
	  $p<br />
	  #end for
	</td>
      </tr>
    </table>
    <p>
      <button type="button" id="update-user">Update user</button>
    </p>
    #else
    User not found
    #end if
  </body>
</html>
